<h2>Pipes component</h2>
<ul> 
    <li>
       date: {{ date() | date: 'short' }}
    </li>
    <li>
        uppercase: {{ 'matheus bugatti' | uppercase }}
    </li>
    <li>
        lowercase: {{ 'MATHEUS BUGATTI' | lowercase }}
    </li>
    <li>
        json: {{ json() | json }}
    </li>
    <li>
        json: {{ loadingData$ | async }}
    </li>
    <li>
        <!-- precisa passar o  BRL -->
        currency:  {{ 200.50 | currency : "BRL" }}
    </li>
    <li>
        Decimal: {{ 200.5 | number : "1.0-0" }};
    </li>
    <li>
        Percent: {{ 0.265 | percent : "1.0-4" }}
    </li>
    <li>
        customString: {{ "Matheus Bugatti" | customString : 'upper'}}
    </li>
</ul>



