<h2>Template</h2>
<h3>Texto interpolativo</h3>
<!-- 
{{ name }} - {{ age }}  {{sum()}} -->

<hr />

<h2>Property binding</h2>
<button [disabled] = "isDesabled">Button</button>
<!-- <img [src]="srcValue" [alt] ="name"/> -->

<hr/>

<h2>Attribute binding</h2>
<p [attr.aria-label]="name">Matheus Bugatti</p>
 
<hr/>


<h2>Class and Style binding</h2>
<p [class.background-red] = "age >= 25" [class.background-blue] = "age <= 20" [class.background-green] = "age >= 21 && age <= 24" >
{{ name }}</p>

<p [style.text-decoration]= 'isTextDecoration'>{{ age }}</p>
<hr />

<h2>Event binding</h2>
<button (click)="sum()">+</button>
<button (click)="sub()">-</button>
<input (keydown.shift.t)="onKeyDown($event)">

<div style="background: red; width: 300px; height: 300px;margin-top: 10px;"
(mousemove)="onMouseMouve($event)"
></div>
<hr />

<h3>Two-way binding</h3>
